# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code settings (optional)
.vscode/

# Streamlit settings (optional)
.streamlit/secrets.toml
